{% extends 'base.html.twig' %}

{% block title %} {{ 'account.title'|trans({'%nom%' : utilisateur.nom, '%prenom%' : utilisateur.prenom }) }} {% endblock %}

{% block body %}
    <div class="head_produit"></div>
    <div class="main-account">
        <div class="account-info-user">
            <div class="main_title">
                <h1>{{ 'account.main_title'|trans }}</h1>
            </div>
            <div class="petit_bonhomme">
                <img src="{{ asset('img/account/petit_bonhomme.png') }}" alt="" style="width: 100px; height: 150px">
            </div>

            <div class="container">
                {{ form_start(form) }}
                <div class="form-group w-50 m-auto">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control input-name'}}) }}
                </div>
            </div>
        </div>


        <div class="account-info-orders">

        </div>
    </div>
{% endblock %}
