{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <div class="head_produit"></div>

    <main>
        
        <div class="article_container">
        <div id='back_container'>
           <a href='{{ path('app_home') }}' class='GoBack'><- Go back</a>
        </div>
        <div class="article_container_inner">
            <div class="article_img">
                <img src="{{ asset('img/desktop/image-product.jpg') }}" alt="">
            </div>
            <div class="desc_container">
                <div class="new P">New product</div>
                <h1 class="article_title">{{ produit.nom }}</h1>
                <p class="article_text">{{ produit.description }}</p>

                <div class='priceStock'>
                    <p class="Article_price">$ {{ produit.prix | number_format }}</p>
                    <p id="Article_qte">Il reste <span id='span_qte'>{{ produit.stock }}</span> {{ produit.nom }} en stock.</p>
                </div>

                <form method='post'>
                    <div class="add_cart">
                        <div class="counter">
                            <div id='less' class="count_btn less" onclick='removeOne()'>-</div>
                            <input id='count' class="count_btn count" value='1' type="text" disabled>
                            <div id='more' class="count_btn more" onclick='addOne()'>+</div>
                        </div>
                        <button type='submit' class="add_btn">
                            <p>Add to cart</p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        </div>

        <div id="alt_articles_home">
            <div class="alt_container">
                <img class="alt_img" src="{{ asset('img/product-xx99-mark-one-headphones/image-product-removebg-preview-removebg-preview(1).png') }}" alt="headphone audio audiophile">
                <p class="alt_title">Headphones</p>
                <a class="alt_link" href="#">SHOP <span class="alt_span">></span></a>
                <div class="box-shadow"></div>
            </div>

            <div class="alt_container">
                <img class="alt_img" src="{{ asset('img/product-zx9-speaker/image-product-wbg.png') }}" alt="speaker audiophile">
                <p class="alt_title">speaker</p>
                <a class="alt_link" href="#">SHOP <span class="alt_span">></span></a>
                <div class="box-shadow"></div>
            </div>

            <div class="alt_container">
                <img class="alt_img" src="{{ asset('img/product-yx1-earphones/image-product-removebg-preview-removebg-preview(2).png') }}" alt="earphone audiophile">
                <p class="alt_title">earphones</p>
                <a class="alt_link" href="#">SHOP <span class="alt_span">></span></a>
                <div class="box-shadow"></div>
            </div>
        </div>

    </main>


{% endblock %}
