<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}       
    </head>
    <body>
    <div class='closeByBg' onclick='closeModal();closeBasketBasket()'></div>
    <header>
        <nav>
            <div id="logo_container">
                <a href="{{ path('app_home') }}"><img id='audiophile_logo' src="{{ asset('img/audiophile.png')}}" alt="audiophile logo"></a>
                {% if app.user %}
                   <p class='user_name'>{{ 'nav.bonjour'| trans}} {{app.user.nom|capitalize}}</p>

                    {% if is_granted('ROLE_ADMIN') %}
                        <div id="add_produit" onclick='OpenAddModal()'>+</div>
                    {% endif %}
                {% endif %}
            </div>
            
            <div id="nav_link_container">
                <ul>
                    <li><a class="nav_link" href="{{ path('app_home') }}">{{ 'nav.accueil'| trans }}</a></li>
                    <li><a class="nav_link" href="{{ path('app_categorie', {'id': 2 }) }}">{{ 'nav.casques'| trans }}</a></li>
                    <li><a class="nav_link" href="{{ path('app_categorie', {'id': 3 }) }}">{{ 'nav.enceintes'| trans }}</a></li>
                    <li><a class="nav_link" href="{{ path('app_categorie', {'id': 1 }) }}">{{ 'nav.ecouteurs'| trans }}</a></li>
                </ul>
            </div>

            <div id="nav_basket">
                {% if utilisateur != null %}
                    <div class="nav_connected">
                        <li><a id='login' href="{{ path('app_account', {'id': utilisateur.id}) }}">{{ 'navbar.my_account'|trans }}</a></li>
                        <li><a class="nav_logout" href="{{ path('app_logout') }}">{{ 'navbar.logout'|trans }}</a></li>
                     </div>
                {% else %}
                    <li><a class="nav_link" href="{{ path('app_login') }}">{{ 'navbar.login'|trans }}</a></li>
                {% endif %}
                {% if app.user %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class='div_modal_hover'>
                                <a class='modal_btn' id="login" href="{{ path('app_dashboard') }}">{{ 'nav.gestion'| trans }}</a>
                            </div>
                        {% endif %}
                {% endif %}

                <img id='basket_logo' src="{{ asset('img/basket.png')}}" alt="logo panier" onclick="OpenBasketModal()">
            </div>
        </nav>
    </header>
    <div id="basket_modal">
        <div id='basket_close' onclick='closeBasketBasket()'>
            <p>{{ 'modal.ajout.fermer'| trans }}</p> 
        </div>
        <div id="basket_container">
            <h5 id='basket_h5'>{{ 'modal.panier.title'| trans }}</h5>
            
            {% if panier is not null and panier.contenuPaniers is not empty %}
                {% for i in panier.contenuPaniers %}
                    <div class='item'>
                        <p class="item_name">{{i.produit.nom}}</p>
                        <div class="item_description">
                            <p class="item_qte">Quantité : {{i.quantite}}</p>
                            <p class="item_price">Prix : {{i.produit.prix}}€</p>
                            <a href="{{ path('app_deleteContenu', {'id': i.id}) }}">
                                <img id="trash_icon" src='{{ asset('img/trash.png') }}' alt="trash_icon">
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <a href='{{ path('app_paiement', {'id': panier.id}) }}' id='paiement_btn'>{{ 'Paiement'| trans }}</a>
            {% else %}
                <p>Panier vide</p>
            {% endif %}

        </div>
    </div>
    {%  for type, message in app.flashes %}
        {% for msg in message %}
            <p class="m-0 alert custom-alert alert-{{ type }}">{{ type }} : {{ msg }}</p>
        {% endfor %}
    {% endfor %}
    
    {% block body %}
    
    {% endblock %}

    {% include "footer.html.twig" %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
